<% if (session.user.role === "MANAGER" || session.user.role === "ADMIN") { %>
<a href="/courses/new">Crear asigantura</a> <br><br>
<% } %>
<ul>
<% for(index in courses){ %>
    <li>
<% course = courses[index]; %>
<a href="/courses/<%= courses[index].id %>">
    <%= courses[index].name %><br>
</a>
<% if (session.user.role === "MANAGER" || session.user.role === "ADMIN") { %>
<a href="/courses/<%= courses[index].id %>/edit">
    <button>Editar</button>
    <form method="post" action="/courses/<%= courses[index].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Eliminar asignatura: <% courses[index].name %>');">
            Eliminar asignatura
        </button>
    </form>
    <br>
</a>
<% } else { %>
<form method="post" action="/courses/pick">
    <input type="hidden" name="cid" value="<%= courses[index].id %>"/>
    <input type="submit" value="Inscribirse"/>
</form>
<% } %>
</li>

<% } %>
</ul>