<div>
    <h3><%= course.name %> - <%= course.specialisation %></h3>
    <h4>Créditos: <%= course.credits %></h4>
    <p><%= course.description %></p>
    <% if (session.user.role === "STUDENT") { %>
        <form method="post" action="/courses/pick">
            <input type="hidden" name="cid" value="<%= course.id %>" />
            <input type="submit" value="Inscribirse" />
        </form>
    <% } %>
    <a href="/courses">Volver</a>
</div>